
/* Preset for the Header */
h1, h2, h3, h4, h5{
	color:#4A4E69;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}

/* Preset for the Paragraph */
p {
	color: #4A4E69;
	font-weight: 450;
	font-family: 'Open Sans', sans-serif;
}

/* Line break */
hr {
	max-width:450px;
}

/* Setting up the menu bar*/
.topnav {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  display:flex;
  z-index:1;
}

/* Style the menu bar and dropdown content */
.topnav a,
.dropdown,
.dropdown .dropbtn {
  font-size: 16px;
  color: white;
  text-align: center;
  text-decoration: none;
}

/* Add paddings so it does not look cutt-off*/
.topnav a,
.dropdown .dropbtn{
  padding: 14px 16px;
}
/* Make it transparent so it does not cover other items*/
.dropdown .dropbtn {
  background-color: transparent;
  border: none;
}

/* Turn red when hovering */
.topnav a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

/* Style the contents of main dropdown menu */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Style the contents of dropdown menu */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Color the contents when hovering */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the Dropdown Content as blocks*/
.dropdown:hover .dropdown-content {
  display: block;
}

/* Header Format */
.row-header {
  padding: 5vh 10vw 0 10vw;
  background-image: url("https://davidau8195.github.io/home/img/yourname.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  display: flex;
  position: relative;
  align-items: center
}

/* Header Content Format */
.header-col {
	position: relative;
 	background: rgb(255, 255, 255);
	box-shadow: 0 1px 10px 3px rgba(0, 0, 0, 0.18);
	bottom: -95px;
	max-width:550px;
	margin:auto;
}

/* Footer Format */
.row-footer {
	padding: 0vh 10vw 10vw 10vw;
	margin-top:140px;
	background-image: url("https://davidau8195.github.io/home/img/yourname.png");
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

/* Footer Content Format */
.footer-col {
	position: relative;
	background: rgb(255, 255, 255);
	border-radius: 5px;
	box-shadow: 0 1px 10px 3px rgba(0, 0, 0, 0.18);
	top: -20px;
	padding: 10px 0;
	max-width:820px;
	margin:auto;
}

/* Overall sections of the layout settings */
section {
	width:100%;
  	margin: 50px -10px;
	padding: 0 5%;
}

/* Overall sections style settings */
.section-heading {
	text-transform: uppercase;
  	font-size: 2.6em;
}

/* List out the items */
.list-container {
	max-width: 900px;
	margin: auto;
}

/* List out the items */
.list-container2 {
	max-width: 600px;
	margin: auto;
}

/* My Email */
.email {
	margin-top:20px;
}

/* Email Icon */
.email .glyphicon {
	margin-right:5px;
}

/* Language w/ Icons Settings */
.lang-item {
	margin:5px;
	display: inline-flex;
	align-items: center;
	flex-direction: column;
}

/* Text for the Language Names */
.lang-item-text {
	margin-top:20px;
}

/* Szie of Language Names */
.lang-item i {
	font-size:5em;
}

/* List out my tools */
.tech-tool-item {
	margin-left:25px;
	display: inline-block;;
}

/* If you want to include a pic... */
/*.profile-pic {
	border-radius:50%;
	width:40%;
	max-width: 200px;
}*/

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}

