
/* Preset for the Header */
h1, h2, h3, h4, h5{
	color:#4A4E69;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}

/* Preset for the Paragraph */
p {
	color: #4A4E69;
	font-weight: 450;
	font-family: 'Open Sans', sans-serif;
}

.row-header {
  padding: 5vh 10vw 0 10vw;
  background-image: url("https://davidau8195.github.io/aboutme/icons/background.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: center
}

.header-col {
	position: relative;
 	background: rgb(255, 255, 255);
	box-shadow: 0 1px 10px 3px rgba(0, 0, 0, 0.18);
	bottom: -95px;
	max-width:400px;
	margin:auto;
}

.row-footer {
	padding: 0vh 10vw 10vw 10vw;
	margin-top:140px;
	background-image: url("https://davidau8195.github.io/aboutme/icons/background.jpg");
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.footer-col {
	position: relative;
	background: rgb(255, 255, 255);
	border-radius: 5px;
	box-shadow: 0 1px 10px 3px rgba(0, 0, 0, 0.18);
	top: -20px;
	padding: 10px 0;
	max-width:420px;
	margin:auto;
}

/* Setting up the menu bar*/
.topnav {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  display:flex;
}

/* Style the menu bar and dropdown content */
.topnav a,
.dropdown,
.dropdown .dropbtn {
  font-size: 16px;
  color: white;
  text-align: center;
  text-decoration: none;
}

/* Add paddings so it does not look cutt-off*/
.topnav a,
.dropdown .dropbtn{
  padding: 14px 16px;
}
/* Make it transparent so it does not cover other items*/
.dropdown .dropbtn {
  background-color: transparent;
  border: none;
}

/* Turn red when hovering */
.topnav a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

/* Style the contents of main dropdown menu */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Style the contents of dropdown menu */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Color the contents when hovering */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the Dropdown Content as blocks*/
.dropdown:hover .dropdown-content {
  display: block;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}

/* My Email */
.email {
	margin-top:20px;
}

/* Email Icon */
.email .glyphicon {
	margin-right:5px;
}

/* Overall sections of the layout settings */
section {
	width:100%;
  	margin: 100px 0;
	padding: 0 5%;
}

/* Overall sections style settings */
.section-heading {
	text-transform: uppercase;
  	font-size: 2.6em;
}



/* Below needs lots of work!!!! */




hr {
	max-width:300px;
}


.navbar.navbar-default {
	background: none;
	border: none; 
  z-index: 1;
}


.navbar-default .navbar-text {
	color:white;
}




.profile-pic {
	border-radius:50%;
	width:40%;
	max-width: 200px;
}

.header-col h2 {
	font-size: 1.3em;
  margin-bottom: 20px;
  margin-top: 0;
}



.project-img-col img {
	max-width: 250px;
  margin: auto;
}


.list-container {
  max-width: 600px;
  margin: auto;
}

.techlogo {
	width:140px;
}

.tech-item {
	margin:10px;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
}

.tech-item-text {
	margin-top:10px;
}

.tech-item i {
	font-size:5em;
}

.tech-tool-item {
	margin-left:15px;
  display: inline-block;;
}



.btn.outline {
	background: none;
	padding: 12px 22px;
}

.btn-primary.outline {
	border: 2px solid #0099cc;
	color: #0099cc;
	border:0;
}

.linkedin-btn {
	background-color: white;
	width:140px;
	box-shadow: 0px 2px 5px 1px lightgrey;
	padding: 12px;
	border-radius: 5px;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
	color: #33a6cc;
	border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
	border-color: #007299;
	color: #007299;
	box-shadow: none;
}